/* 
    Document   : externalCss
    Created on : Sep 1, 2013, 5:23:23 PM
    Author     : Dawn Bykowski
    Description:
        Stylesheet for the index_external.html.
*/

root { 
    display: block;
}

body {background-color: LightPink; font-family: Verdana}
h2 {text-align: center; font-family: cursive; font-style: italic; 
        color: MediumVioletRed}
h4 {font-family: sans-serif; font-style: italic; color: mediumslateblue}
table {font-size: 14px}
.tdSuggestion {color: MediumVioletRed; font-family: Comic Sans MS}